#app-container {
  height: 100%;
}

footer {
  z-index: 2;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  background-color: cadetblue;
  text-align: center;
  font-size: 18px;
  font-family: arial;
  color: white;
}

footer a {
  text-decoration: none;
  color: white;
}

#reset {
  z-index: 3;
  position: fixed;
  right: 0;
  bottom: 0;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 20px;
  font-size: 70px;
  font-family: arial;
}

button {
  background-color: cadetblue;
  border: none;
  color: white;
}

nav {
  position: fixed;
  top: 45%;
  left: 20px;
}

nav ul {
  z-index: 2;
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
  cursor: default;
}

nav li {
  position: relative;
  display: block;
  float: top;
  margin: 16px 16px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

nav li a {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: none;
  border-radius: 50%;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.3);
  text-indent: -999em;
  cursor: not-allowed;
  pointer-events: none;
  position: absolute;
}

nav li a {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 1);
  transition: background 0.3s;
}

nav li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 1px #fff;
  transition: height 0.3s;
}

nav li a:hover,
nav li a:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

nav li a.active-link::after {
  height: 100%;
}
